$tipografiaPrincipal: nomal 24px/1.5 'open Sans', sans-serif;
$colorLila:rgb(181, 194, 206);
$colorAzul:rgb(119, 127, 175);
$colorCafe: rgb(165, 101, 42);
$colorNegro:black;
$colorBlanco: white;
$ColorDorado: rgb(194, 154, 21);
// $colorWhatsApp: "si";
// $colorInstragram:"si";
// $colorFacebook: "si";
$Iconos:"no";
$coloresIconos: (1:rgb(67,216,84), 2:rgb(16, 19, 202), 
  3:rgb(221,42,123));

            //    (1:rgb(67,216,84), 2:rgb(16, 19, 202), 
            //    3:rgb(221,42,123))